
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Smooch&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px;
    padding: 0px 0px;
    background-color:rgb(244, 5, 44);
    font-family: Smooch;
    color: rgb(244, 5, 44);
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;

}
.header {
display: flex;
position: relative;

width: 100%;
height: 36rem;
margin: 0px 0px;
   
    
}

.h1header{
    
    font-size: 3.5rem;
    color:rgb(244, 5, 44);
    z-index: 1;
    margin-left: 5px;
    padding: 0px;
    position: relative;
    

    
    
}
.img{
    
    
    z-index: -1;
    position:absolute;
    width: 100%;
    
   
     
}
.card-img{
    width: 100%;
    height: 36rem;
    background-image: url('./img/img1.2.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;

    
    
    
    
    
}
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    
}

.box-icone{
    display: flex;
    
    width: 100%;
    height: 7rem;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px;
    padding: 0px 0px;
   
    
}
.icone{
    display: flex;    
    
}
.icones{
    
    width: 2rem;
    height: 2rem;
    margin: 0px 0px;
    padding: 0px 0px;
    
}

.contato{
    color: #ffffff;
    font-family: Open;
    justify-content: center;
    margin: 0rem 2rem;
    letter-spacing: 0.4rem;
    font-size: 1rem;

    
}

footer{
    display: flex;
    background-color: #0B1015;
    width: 100%;
    
    justify-content: center;
    align-self: center;
    margin: 0px 0px;
    
    
}

@media  ( min-width:200px)  and (max-width:1024px) {
  body{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      
  }
  
  .container{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px 0px;
      padding: 0px 0px;
  }
    
    .header{
    display:flex;
    width:100%;
    height: 15rem;


     
    }
    .card-img{
     width:100%;
     height: 15rem;
     
    
       
       
    }
    .img{
        width:100%;
        
      
    }
    
     
  .h1header{
      font-size:90%;
  }
  .conteudo {
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    
}   

  .box-icone {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

  }
   section {
       justify-content: center;
       align-items: center;
      
      
      
       
   }
   .icones{
       
       width: 100%;
       
 
       
   }
   .video{
       display: flex;
       align-items: center;
       justify-content: center;
       
       
       
   }
   iframe {
      width: 98%;
     
   }
   .contato{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   footer{
       
       margin: 0px 0px;
       height: 2rem;
       width: 100%;
       
   }
 }